<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.YubNub.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionIconImagePath</key>
			<string>YubNub.png</string>
			<key>HGSPythonModule</key>
			<string>YubNub_QSB</string>
			<key>HGSPythonClass</key>
			<string>YubNub_Search</string>
			<key>HGSExtensionClass</key>
			<string>HGSPythonAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.YubNub.action.YubNub_QSB</string>
			<key>HGSActionDirectObjectTypes</key>
			<array>
				<string>text</string>
			</array>
			<key>HGSExtensionUserVisibleName</key>
			<string>Search with YubNub</string>
		</dict>
	</array>
</dict>
</plist>
