<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.openmeta.plugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>OpenMetaSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.openmeta.source</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>openmeta Source</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<array/>
			<key>HGSSearchSourceSupportedTypes</key>
			<string>*</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>OpenMetaActionAddTag</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.openmeta.action.addTag</string>
			<key>HGSActionDirectObjectTypes</key>
			<array>
				<string>file</string>
			</array>
			<key>HGSExtensionUserVisibleName</key>
			<string>Add Tag</string>
			<key>HGSExtensionIconImagePath</key>
			<string></string>
			<key>HGSActionArguments</key>
			<dict>
				<key>HGSActionArgumentIdentifier</key>
				<string>com.google.qsb.openmeta.action.argument.tag</string>
				<key>HGSActionArgumentSupportedTypes</key>
				<string>text.userinput</string>
				<key>HGSActionArgumentClass</key>
				<string>OpenMetaActionTagArgument</string>
			</dict>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>OpenMetaActionRemoveTag</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.openmeta.action.removeTag</string>
			<key>HGSActionDirectObjectTypes</key>
			<array>
				<string>file</string>
			</array>
			<key>HGSExtensionUserVisibleName</key>
			<string>Remove Tag</string>
			<key>HGSExtensionIconImagePath</key>
			<string></string>
			<key>HGSActionArguments</key>
			<dict>
				<key>HGSActionArgumentIdentifier</key>
				<string>com.google.qsb.openmeta.action.argument.tag</string>
				<key>HGSActionArgumentSupportedTypes</key>
				<string>text.userinput</string>
				<key>HGSActionArgumentClass</key>
				<string>OpenMetaActionTagArgument</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
