<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.TheHitList.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionIconImagePath</key>
			<string>THL.icns</string>
			<key>HGSExtensionClass</key>
			<string>HGSAppleScriptAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.TheHitList.action.Send_To_THL</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Add to The Hit List</string>
			<key>HGSAppleScriptHandlerName</key>
			<string>Send_To_THL</string>
			<key>HGSAppleScriptFileName</key>
			<string>Send_To_THL</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
